{% extends 'base.html.twig' %}

{% block body %}
    <div id="payment-dropin"></div>
    
    <script type="text/javascript" src="{{endpoint}}"></script>
    <script type="text/javascript">
        Bex.init({{ ticket | json_encode | raw }}, "modal", {
            container: "payment-dropin",
            skipButton: true,
            buttonSize: [135, 70],
            onCancel: function(){
                console.log('cancel', arguments);
            },
            onComplete: function(status){
                console.log('complete', arguments);
            }
        });
    </script>
{% endblock %}

{% block stylesheets %}
<style>
    html, body {padding:0; margin:0;}
</style>
{% endblock %}
