# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host: 127.0.0.1
    database_port: ~
    database_name: symfony
    database_user: root
    database_password: ~
    # You should uncomment this if you want to use pdo_sqlite
    #database_path: '%kernel.project_dir%/var/data/data.sqlite'

    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_user: ~
    mailer_password: ~

    # A secret key that's used to generate certain security-related tokens
    secret: ThisTokenIsNotSoSecretChangeIt

    bkm_express_merchant_id: 219be6b7-b3ca-4bd1-9886-a16d40b0bfe2
    bkm_express_environment: preprod
    bkm_express_certificates: 
            remote:
                public: '%kernel.root_dir%/Resources/keys/bkm/public.pem'
            local:
                private: '%kernel.root_dir%/Resources/keys/bkm-test/private.pem'
